:root {
    --main-color: rgb(15, 15, 15);
    --sub-color: rgb(50, 50, 50);
    --grid-color: rgb(60,60,60);
    --font-color: white;
    --rgb: linear-gradient(to left, purple , pink, rgb(91, 255, 91), rgb(111, 169, 255));
    --mono: linear-gradient(to left, white, white);
    --rainbow: linear-gradient(to left, blue, green, orange, red);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
}

h1 {
    text-align: center;
    margin: 1rem 0;
    color: var(--font-color);
}

button {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    background-color: var(--main-color);
    margin: 0;
    border-color: white;
}

#plus, #minus {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
}

#boardWidth {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin: 0.5rem;
}

#selectSizeUI, #buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17rem;
    margin: 0;
}

#generateBoard, #boardStyle {
    height: 3rem;
    width: 8rem;
}

#boardStyle {
    background-image: var(--rgb);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

#container {
    display: flex;
    height: 75vh;
    width: 75vh;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

#board {
    display: grid;
    height: 100%;
    width: 100%;
}

.cell {
    background-color: var(--sub-color);
    border-style: solid;
    border-color: var(--grid-color);
    border-width: 1px;
}

.painted {
    border-width: 0px;
}
